.container{
    
    border: 2px solid;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr,500px);
    grid-template-rows: repeat(2,200px) ;
}
.container .item{
        text-align: center;
        color: black;
        padding: 15px;
}
.header{
    background-color: lightblue;
    grid-column: 1/4;
}
.sidebar{
    background-color: green;
    grid-row: 2/4;
}
.maincontent{
    background-color: gold;
    grid-column: 2/4;
}
.extracontent{
    background-color: gray;
    grid-column: 2/4;
    grid-row: 3/4;
}
.footer{
    background-color: orange;
    grid-column: 1/4;
}